USE [school23]
GO
/****** Object:  Table [dbo].[graduation_conditions]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[graduation_conditions](
	[id] [uniqueidentifier] NOT NULL,
	[program_id] [uniqueidentifier] NULL,
	[applied_cohort] [nvarchar](10) NULL,
	[min_total_credits] [int] NULL,
	[min_gpa] [decimal](3, 2) NULL,
	[max_failed_credits] [int] NULL,
	[english_requirement] [nvarchar](100) NULL,
	[it_requirement] [nvarchar](100) NULL,
	[conduct_required] [nvarchar](50) NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[graduation_results]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[graduation_results](
	[id] [uniqueidentifier] NOT NULL,
	[student_code_legacy] [nvarchar](20) NULL,
	[condition_id] [uniqueidentifier] NULL,
	[gpa] [decimal](3, 2) NULL,
	[total_credits] [int] NULL,
	[failed_credits] [int] NULL,
	[result] [tinyint] NULL,
	[classification] [tinyint] NULL,
	[decision_date] [date] NULL,
	[reviewer] [uniqueidentifier] NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[student_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programs]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programs](
	[id] [uniqueidentifier] NOT NULL,
	[program_code] [nvarchar](20) NOT NULL,
	[program_name] [nvarchar](120) NOT NULL,
	[major_name] [nvarchar](120) NULL,
	[education_level] [nvarchar](50) NULL,
	[total_required_credits] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[program_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[student_code] [nvarchar](20) NOT NULL,
	[full_name] [nvarchar](120) NOT NULL,
	[email] [nvarchar](120) NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](20) NULL,
	[class_name] [nvarchar](50) NULL,
	[cohort] [nvarchar](10) NULL,
	[gpa] [decimal](3, 2) NULL,
	[total_credits] [int] NULL,
	[failed_credits] [int] NULL,
	[english_status] [nvarchar](100) NULL,
	[it_status] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [uniqueidentifier] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](7) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/20/2026 11:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime2](6) NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [uniqueidentifier] NULL,
	[email] [varchar](100) NULL,
	[full_name] [varchar](100) NULL,
	[password] [varchar](255) NOT NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_r43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[graduation_conditions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[graduation_conditions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[graduation_results] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[graduation_results] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (N'Đang học') FOR [status]
GO
ALTER TABLE [dbo].[graduation_conditions]  WITH CHECK ADD  CONSTRAINT [FK_graduation_conditions_programs] FOREIGN KEY([program_id])
REFERENCES [dbo].[programs] ([id])
GO
ALTER TABLE [dbo].[graduation_conditions] CHECK CONSTRAINT [FK_graduation_conditions_programs]
GO
ALTER TABLE [dbo].[graduation_results]  WITH CHECK ADD FOREIGN KEY([condition_id])
REFERENCES [dbo].[graduation_conditions] ([id])
GO
ALTER TABLE [dbo].[graduation_results]  WITH CHECK ADD  CONSTRAINT [FK_graduation_results_conditions] FOREIGN KEY([condition_id])
REFERENCES [dbo].[graduation_conditions] ([id])
GO
ALTER TABLE [dbo].[graduation_results] CHECK CONSTRAINT [FK_graduation_results_conditions]
GO
ALTER TABLE [dbo].[graduation_results]  WITH CHECK ADD  CONSTRAINT [FK_graduation_results_students] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[graduation_results] CHECK CONSTRAINT [FK_graduation_results_students]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
ALTER TABLE [dbo].[graduation_results]  WITH CHECK ADD  CONSTRAINT [CK_graduation_results_classification] CHECK  (([classification] IS NULL OR ([classification]=(4) OR [classification]=(3) OR [classification]=(2) OR [classification]=(1))))
GO
ALTER TABLE [dbo].[graduation_results] CHECK CONSTRAINT [CK_graduation_results_classification]
GO
ALTER TABLE [dbo].[graduation_results]  WITH CHECK ADD  CONSTRAINT [CK_graduation_results_result] CHECK  (([result] IS NULL OR ([result]=(1) OR [result]=(0))))
GO
ALTER TABLE [dbo].[graduation_results] CHECK CONSTRAINT [CK_graduation_results_result]
GO
